*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    /* justify-content: center; */
    border: 1px solid black;
    height: 100vh;
    width: 900px;
    /* background-color:black; */
}
input{
    /* justify-content: center; */
    margin: 20px 350px;
    /* background-color: red; */
}

.paragraph p{
    text-align: justify;
}
.paragraph h1{
    text-align: center;
}
.highlight{
    background-color:rgb(146, 146, 214);
}
